@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --myColorVar: #ffffff;
    --myColorVar2: #0000ff;
    --myColorVar3: #000000;
    --myColorVar4: #00d082;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400;
    letter-spacing: 0px;
    font-style: normal; */
   
    
}

main{
    display:flex;
    flex-direction: column; 
    
}
.central{
    max-width: 1280px;
    margin:0 auto;
}

.cabecera{
    width: 100%;
    height: 3.5%;
    background-color: var(--myColorVar2);
    

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
    .cabecera img{
        width:11%;
        height: 100%;;
    }
    .cabecera div{
        width: 89%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cabecera a{
        color: var(--myColorVar);
        text-decoration: none;
    }
    .nav_link:hover{
        color:var(--myColorVar3);
        border-bottom: var(--myColorVar3);
    }
    .nav_link:active{
        color:var(--myColorVar3);
        background-color:var(--myColorVar4);
    }

.principal{
    height: 500px;

    display:flex;
    flex-direction: row;
}
    .titulo{
        width: 40%;

        display:flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;        
    }
        .titulo div{
            font-size: 50px;
            color: var(--myColorVar4);
            text-align: center;
            font-weight: bold;

        }
            .texto1{
                font-size: 20px;
                font-weight: bold;
                text-align: center;               
            }
            .texto2{
                text-align: center;
            }      
    .publico{
        width: 60%;
        background-color: var(--myColorVar3);   

        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
        .publico h1{
            color: var(--myColorVar2);
        }
        .publico div{
            width: 80%;
            color: var(--myColorVar);
            font-size: larger;            
        }
            .publico div span{
                font-weight: bolder;
                color: var(--myColorVar2)
            }
.valoraciones{
    height: 300px;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.becas{
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
    .boton{
       
        display:flex;
        flex-direction: row;
        justify-content: space-between;        
        
    }
        .boton button{
            height: 40px;
            width: 130px;
            
        }
    .becas div{
        width: 75%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .becas div div{
            font-weight: bold;
        }
            .becas div div span{
                color:var(--myColorVar2);
            }
    .becas img{
        width: 30%;  
            
    }
.servicios{
    height: 500px;
    background-color: var(--myColorVar3);

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    .centrar{
        width:85%;
        height: 90px;
        text-align: center;
    }
        .centrar p{
            color: var(--myColorVar)
        }
        .carrera{
            font-size: 30px;
            font-weight: bold;
            color: var(--myColorVar4);
        }
        
    .profesional{
        width: 95%;
        height: 180px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
        .profesional div{
            height: 200px;
            display:flex;
            flex-direction: column;
            
            
        }
        .profesional p{
            color: var(--myColorVar)
        }
        .imp{
            color: var(--myColorVar4);
            font-weight: bold;
            font-size: 20px;
            
        }
            .negrita{
                font-weight: bold;
            }
.alumnos{
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
    .alumnos div{
        width: 60%;
        font-size: 20px;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .alumnos img{
        width: 40%;
    }
    .alumna{
        font-weight: bold;
    }


.pie{
    background-color: var(--myColorVar3);

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    .pie div{
        color: var(--myColorVar)
    }
    .pie a{
        color:var(--myColorVar);
        text-decoration: none;
    }